# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Ansible
.venv*
# Taskfile
.tasks
.task

# VS Code stuff
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Mega-Linter
report/
megalinter-reports/
