---
# yaml-language-server: $schema=https://kubernetes-schemas.minuette.horse/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app overseerr
  namespace: media
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation:
      retries: 5
      remediateLastFailure: true
  upgrade:
    remediation:
      retries: 5
      remediateLastFailure: true
  dependsOn:
    - name: sonarr
      namespace: media
    - name: radarr
      namespace: media
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/sct/overseerr
              tag: 1.35.0
            env:
              TZ: ${TIMEZONE:-UTC}
              LOG_LEVEL: info
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/status
                    port: 5055
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                memory: 250Mi
                cpu: 10m
              limits:
                memory: 750Mi
    service:
      main:
        controller: main
        ports:
          http:
            port: 5055
    ingress:
      main:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: overseerr
          gethomepage.dev/name: Overseerr
          gethomepage.dev/description: Overseerr media requests manager
          gethomepage.dev/group: Media
        hosts:
          - host: overseerr.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /app/config
      config-logs:
        type: emptyDir
        globalMounts:
          - path: /app/config/logs
      config-cache:
        existingClaim: overseerr-cache
        globalMounts:
          - path: /app/config/cache
