---
# yaml-language-server: $schema=https://kubernetes-schemas.minuette.horse/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app volsync
  namespace: flux-system
spec:
  path: ./kubernetes/apps/volsync/volsync/app
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  targetNamespace: volsync
  dependsOn:
  - name: snapshot-controller
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
