---
# yaml-language-server: $schema=https://kubernetes-schemas.minuette.horse/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app stirling-pdf
  namespace: tools
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation:
      retries: 5
      remediateLastFailure: true
  upgrade:
    remediation:
      retries: 5
      remediateLastFailure: true
  values:
    controllers:
      stirling-pdf:
        containers:
          app:
            image:
              repository: ghcr.io/stirling-tools/s-pdf
              tag: 2.1.1@sha256:c351ebf9d7602f1e63c49b20043739fc5ee13defa43e40646bf09aabc10f6e21
            env:
              TZ: ${TIMEZONE}
              DOCKER_ENABLE_SECURITY: "false"
              SECURITY_ENABLE_LOGIN: "false"
              INSTALL_BOOK_AND_ADVANCED_HTML_OPS: "true"
            probes:
              liveness: &probes
                enabled: true
                type: HTTP
                path: /api/v1/info/status
              readiness: *probes
              startup:
                <<: *probes
                spec:
                  failureThreshold: 90
                  periodSeconds: 5
            resources:
              requests:
                cpu: 50m
                memory: 256Mi
    service:
      main:
        controller: *app
        ports:
          http:
            port: 8080
    ingress:
      main:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: stirling-pdf
          gethomepage.dev/name: Stirling PDF
          gethomepage.dev/description: PDF viewer and editor
          gethomepage.dev/group: Tools
        hosts:
          - host: spdf.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /configs
      logs:
        enabled: true
        type: emptyDir
      tmp:
        enabled: true
        type: emptyDir
      tessdata:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /usr/share/tessdata
