---
# yaml-language-server: $schema=https://kubernetes-schemas.minuette.horse/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kubernetes-schemas
  namespace: tools
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/woll0r/kubernetes-schemas-web
              tag: latest@sha256:1461b939bb46723812204288e50b58fcedc4068f98cf08e0d5a0a59dfe9803ef
            probes:
              liveness: &probes
                enabled: true
                type: HTTP
                path: /
              readiness: *probes
              startup:
                <<: *probes
                spec:
                  failureThreshold: 5
                  periodSeconds: 5
            resources:
              requests:
                memory: 50Mi
                cpu: 10m
              limits:
                memory: 100Mi
    service:
      main:
        controller: main
        ports:
          http:
            port: 8080
    ingress:
      main:
        enabled: true
        className: internal
        hosts:
          - host: &host kubernetes-schemas.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
