---
# yaml-language-server: $schema=https://kubernetes-schemas.minuette.horse/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-problem-detector
  namespace: kube-system
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://charts.deliveryhero.io/
      chart: node-problem-detector
      version: 2.3.14
      sourceRef:
        kind: HelmRepository
        name: deliveryheroio
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    image:
      repository: registry.k8s.io/node-problem-detector/node-problem-detector
      tag: v1.35.1
    metrics:
      serviceMonitor:
        enabled: true
