---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  INGRESS_NGINX_LB: 192.168.69.2
  K8S_GATEWAY_LB: 192.168.69.1
  PLEX_LB: 192.168.69.3
  QBITTORRENT_LB: 192.168.69.4
  TIMEZONE: Europe/Brussels
