---
# yaml-language-server: $schema=https://kubernetes-schemas.minuette.horse/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app lidarr
  namespace: media
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation:
      retries: 5
      remediateLastFailure: true
  upgrade:
    remediation:
      retries: 5
      remediateLastFailure: true
  values:
    controllers:
      main:
        annotations:
          secret.reloader.stakater.com/reload: lidarr-secrets
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: rolling
            envFrom: &envFrom
              - secretRef:
                  name: lidarr-secrets
        containers:
          main:
            image:
              repository: ghcr.io/home-operations/lidarr
              tag: 3.1.2.4902@sha256:91b053243e34dd405456c9269692195f2c524c4eaa8884d5cfd670449fe584aa
            env:
              TZ: ${TIMEZONE:-UTC}
              LIDARR__APP__INSTANCENAME: Lidarr
              LIDARR__APP__THEME: dark
              LIDARR__AUTH__METHOD: External
              LIDARR__AUTH__REQUIRED: DisabledForLocalAddresses
              LIDARR__LOG__DBENABLED: "False"
              LIDARR__LOG__LEVEL: info
              LIDARR__UPDATE__BRANCH: develop
            envFrom: *envFrom
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: 8686
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                memory: 250Mi
                cpu: 10m
              limits:
                memory: 1500Mi
    service:
      main:
        controller: main
        ports:
          http:
            port: 8686
    ingress:
      main:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: lidarr
          gethomepage.dev/name: Lidarr
          gethomepage.dev/description: Lidarr music manager
          gethomepage.dev/group: Media
          gethomepage.dev/widget.type: lidarr
          gethomepage.dev/widget.url: http://lidarr.media.svc:8686
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_LIDARR_APIKEY}}` }}"
        hosts:
          - host: lidarr.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 100
    persistence:
      config:
        enabled: true
        existingClaim: *app
      media:
        enabled: true
        type: nfs
        server: 172.16.1.6
        path: /volume1/Media
        globalMounts:
          - path: /media
