---
# yaml-language-server: $schema=https://kubernetes-schemas.minuette.horse/notification.toolkit.fluxcd.io/alert_v1beta2.json
apiVersion: notification.toolkit.fluxcd.io/v1beta2
kind: Alert
metadata:
  name: kube-gitops
  namespace: flux-system
spec:
  providerRef:
    name: discord
  eventSeverity: info
  eventSources:
    - kind: GitRepository
      name: '*'
    - kind: HelmRelease
      name: '*'
  suspend: false
---
# yaml-language-server: $schema=https://kubernetes-schemas.minuette.horse/notification.toolkit.fluxcd.io/alert_v1beta2.json
apiVersion: notification.toolkit.fluxcd.io/v1beta2
kind: Alert
metadata:
  name: helmreleases
  namespace: flux-system
spec:
  providerRef:
    name: discord
  eventSeverity: error
  eventSources:
    - kind: GitRepository
      name: '*'
    - kind: Kustomization
      name: '*'
    - kind: HelmRelease
      name: '*'
  suspend: false
