---
name: HelmRelease Diff

on:
  pull_request:
    branches: ["main"]
    paths: ["kubernetes/**.yaml"]

jobs:
  flux-diff:
    name: Flux Diff
    runs-on: ["arc-runner-set-home-ops"]
    permissions:
      pull-requests: write
    strategy:
      matrix:
        path: ["kubernetes/flux"]
        resource: ["helmrelease", "kustomization"]
    steps:
      - name: setup CLI tools
        uses: alexellis/arkade-get@master
        with:
          kubectl: latest
          kustomize: latest
          kubeconform: latest
          helm: latest
          jq: latest
          yq: latest

      - name: setup Flux CLI
        uses: fluxcd/flux2/action@8d5f40dca5aa5d3c0fc3414457dda15a0ac92fa4 # v2.5.1

      - name: Diff Resources
        uses: allenporter/flux-local/action/diff@1c926181fc63aded6ee8f3a667753c5b6aa148d6 # 7.5.0
        id: diff
        with:
          sources: home-kubernetes
          path: "${{ matrix.path }}"
          resource: "${{ matrix.resource }}"

      - if: ${{ steps.diff.outputs.diff != '' }}
        name: Add comment
        uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2.8.2
        with:
          message-id: "${{ github.event.pull_request.number }}/${{ matrix.path }}/${{ matrix.resource }}"
          message-failure: Diff was not successful
          message: |
            ```diff
            ${{ steps.diff.outputs.diff }}
            ```
